alembic==1.16.1
asyncpg==0.30.0
celery[redis]==5.5.3
cryptography==45.0.4
fastapi==0.115.12
fastapi-users[sqlalchemy]==14.0.1
fastapi-users-db-sqlalchemy==7.0.0
httpx==0.28.1
loguru==0.7.3
psycopg[binary]==3.2.9
pydantic-settings==2.9.1
python-dotenv==1.1.0
beautifulsoup4==4.12.3
redis==5.2.1
sqlalchemy[asyncio]==2.0.41
telethon==1.40.0
uvicorn[standard]==0.34.3
