@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  background-color: #f4efe8;
  color: #171717;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}
